body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.664);   
    box-shadow: 3px 5px 10px rgba(63, 94, 94, 0.664);
}

input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
button {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color: rgb(100, 61, 240);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(49, 18, 161);
}